#root {
  background-color: white;
  color: black;
  width: 100vw;
}

.layout {
  display: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 20vw;
  top: 8vh;
  bottom: 8vh;
  width: 76vw;
  padding: 2vh 2vw 15vh 2vw;
}

footer,
nav {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 8vh;
  z-index: 10;
}

nav {
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  font-weight: bold;
}

nav ul,
.sidebar ul {
  display: flex;
  justify-content: flex-start;
  padding: 0 5vw;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
}

nav ul {
  align-items: center;
  gap: 5vw;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 0 5vw;
  background-color: white;
  border-top: 1px solid #e3e3e3;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 20%;
  top: 8vh;
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5vh 0;
  font-weight: bold;
}

.sidebar ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
}

.pad-top {
  padding-top: 1vh;
}

.active {
  color: palevioletred;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 2vh 1vw;
  width: 22vw;
}

.card p {
  margin: 0;
}

.card a {
  font-weight: 500;
}

.list-text {
  color: #686868;
  font-weight: normal;
}

.card img {
  width: 22vw;
  height: 22vw;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5vh;
}

.like-btn {
  margin: 1vh 0;
}
